.my-row {
    margin-right: 0px;
    margin-left: -15px;
}


/*顶部导航栏=========================================================================================================*/
.logo{
    display: block;
    margin-right: 40px;
    height: 30px;
    width: 108px;
    cursor: pointer;
    margin-top: 21px;
    margin-left: 45px;
}
/*让导航栏里面的内容往下移一点*/
@media (min-width: 768px){
    .navbar-nav {
        float: left;
        margin-top: 10px;
        margin-left: 40px;
    }
}
/*增加高度*/
.navbar {
    min-height: 69px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
/*更改背景颜色*/
.navbar-default {
    background-color: #fff;
}
/*手机响应式的按钮下移*/
.navbar-toggle{
    margin-top: 17px;
}
/*修改字体*/
.navbar-default .navbar-nav>li>a {
    font-weight: 300;
    font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover {
    color:red;
}
/*active 被选中的标签*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    font-weight: bold;
    color: #000;
    background-color: white;
}
/*搜索框*/
.navbar-nav .my-btn{
    background-color: white;
}
.navbar-nav .my-search{
    border: 0;
    border-bottom: 1px solid #4a4a4a;
    height: 100%;
    width: 105px;
    transition: width .3s;
    margin-top: 10px;
    padding-bottom: 7px;
}
.navbar-nav .search-bar{
    margin-left: 100px !important;
    margin-right: 20px;
}
.navbar-nav .login{
    position: absolute !important;
    top: 10px;
    right: 50px;
}

/*登录面板=========================================================*/
.modal-dialog{
    line-height: 0px;
}
.passport-movie{
    display: inline-block;
    width: 40%;
    float: left;
}
.passport-movie video{
    box-sizing: inherit;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 4px 0 0 4px;
}

.passport-content{
    height: 438px;
}


.passport-content .register{
    margin-top: 80px;
    margin-left: 268px;
}
.passport-content .register .agreement-title span{
    font-size: 18px;
    font-weight: 700;
}
.passport-content .register .agreement-title em{
    font-style: normal;
    color: #999;
    font-size: 12px;
    margin-left: 8px;
}
.passport-content .register form{
    height: 200px;
    margin-top: 60px;
}
.passport-content .register form span{
    font-size: 12px;
    color: #999;
    font-weight: 300;
}

.passport-content .register form .number input{
    width: 200px;
    height: 30px;
    border-radius: 2px;
    background-color: #f7f7f7;
    border: none;
    margin-top: 20px;
}
.passport-content .register form .security{
    margin-top: 30px;
    position: relative;
}

.passport-content .register form .security .btn{
    width: 200px;
    height: 30px;
    border-radius: 2px;
    background-color: #f7f7f7;
    border: none;
    margin-top: 20px;
}
.passport-content .register form .sendCode{
    height: 30px;
    /*background-color: #ff410f;*/
    background-color: #656565;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right:38px;
    top: 20px;
}
.passport-content .register .next{
    width:280px;
    height: 48px;
    background-color: #656565;
    border-radius: 24px;
    font-size: 16px;
    color: white;
}

.passport-content .register1{
    margin-top: 80px;
    margin-left: 268px;
}
.passport-content .register1 .agreement-title span{
    font-size: 18px;
    font-weight: 700;
}
.passport-content .register1 .agreement-title em{
    font-style: normal;
    color: #999;
    font-size: 12px;
    margin-left: 8px;
}
.passport-content .register1 form{
    height: 200px;
    margin-top: 60px;
}
.passport-content .register1 form span{
    font-size: 12px;
    color: #999;
    font-weight: 300;
}

.passport-content .register1 form .number input{
    width: 200px;
    height: 30px;
    border-radius: 2px;
    background-color: #f7f7f7;
    border: none;
    margin-top: 20px;
}
.passport-content .register1 form .security{
    margin-top: 30px;
    position: relative;
}

.passport-content .register1 form .security .btn{
    width: 200px;
    height: 30px;
    border-radius: 2px;
    background-color: #f7f7f7;
    border: none;
    margin-top: 20px;
}
.passport-content .register1 form .sendCode{
    height: 30px;
    background-color: #ff410f;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right:38px;
    top: 20px;
}
.passport-content .register1 .next{
    width:280px;
    height: 48px;
    background-color: #656565;
    border-radius: 24px;
    font-size: 16px;
    color: white;
    margin-top: 60px;
}



.passport-content .login{
    margin-top: 80px;
    margin-left: 268px;
}
.passport-content .login .agreement-title span{
    font-size: 18px;
    font-weight: 700;
}
.passport-content .login .agreement-title em{
    font-style: normal;
    color: #999;
    font-size: 12px;
    margin-left: 8px;
}
.passport-content .login form{
    height: 200px;
    margin-top: 60px;
}
.passport-content .login form span{
    font-size: 12px;
    color: #999;
    font-weight: 300;
}

.passport-content .login form .number input{
    width: 200px;
    height: 30px;
    border-radius: 2px;
    background-color: #f7f7f7;
    border: none;
    margin-top: 20px;
}
.passport-content .login form .security{
    margin-top: 30px;
    position: relative;
}

.passport-content .login form .security .btn{
    width: 200px;
    height: 30px;
    border-radius: 2px;
    background-color: #f7f7f7;
    border: none;
    margin-top: 20px;
}
.passport-content .login form .sendCode{
    height: 30px;
    /*background-color: #ff410f;*/
    background-color: #656565;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right:38px;
    top: 20px;
}
.passport-content .login .next{
    width:280px;
    height: 48px;
    background-color: #656565;
    border-radius: 24px;
    font-size: 16px;
    color: white;
    margin-top: 60px;
}


/*固定在下面的播放器==================================================================================*/
.play-bar{
    height: 72px;
    background-color: #fff;
    position: fixed;
}
.my-progress{
    height: 3px;
    margin-bottom: 0px;
    z-index: 3;
}
.my-progress-bar{
    background: linear-gradient(90deg,transparent,#ff410f)
}

.play-bar .handle{
    width: 75px;
    height: 20px;
    background-color: #000;
    position: absolute;
    color: #fff;
    bottom: 61px;
    opacity: 0.7;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 1px;
    z-index: 9;
}
.music{
    width: 20%;
    height: 99%;
    margin-left: 10%;
    display: flex;
    float: left;
}

.music img{
    width: 78px;
    height: 100%;
    transition: opacity 1s;
    margin-top: 1px;
}

.music .info{
    color: #4a4a4a;
    font-size: 14px;
    line-height: 0px;
    font-weight: 300;
    margin-top: 13px;
    margin-left: 10px;
    width: 30%;
}

.music .info span{
    width: 100%;
    float: left;
    height: 23px;
    overflow: hidden;
    line-height: 20px;
}
.music .info .singer{
    font-size: 12px;
}
.music .like{
    margin-top: 26px;
    margin-left: 10%;
}
/*控制暂停播放和上曲下曲的*/
.main-control{
    float: left;
    height: 100%;
    width: 200px;
    padding-top: 25px;
    margin-left: 17%;
}
.main-control .prev{
    width: 26px;
    float: left;
}
.main-control .play-btn{
    width: 43px;
    float: left;
    margin-top: -10px;
}
.main-control .play-btn a{
    color: #ff410f;
}
.main-control .next{
    width: 20px;
    float: left;
    margin-left: 10px;
}
/*调节音量，显示歌词，歌曲列表的*/
.tunings{
    float: left;
    width: 25%;
    margin-top: 30px;
    margin-left: 12%;
}
.tunings .volume-control{
    float: left;
    height: 100%;
    width: 122px;
    position: relative;
}
.tunings .volume-control .volume-progress{
    float: left;
    height: 3px;
    width: 100px;
    margin-left: 10px;
    margin-top: 4px;
}
.tunings .volume-control .volume-handle{
    width: 6px;
    height: 6px;
    display: block;
    background-color: #ff410f;
    border-radius: 4px;
    cursor: pointer;
    left: 120px;
    bottom: 19px;
    position: absolute;

}
.tunings .volume-control .volume-bar{
    background-color: #ff410f !important;
}

/*中间部分=================================================================*/
.leftbar-content{
    float: left;
    position: fixed;
    width: 200px;
    left: 100px;
    top: 130px;
}
.leftbar-content img{
    width: 195px;
    height: 195px;
}
.leftbar-content .intro-title{
    height: 46px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
}
.leftbar-content .intro-text{
    font-weight: 300;
    font-size: 13px;
}

.rightbar-content{
    margin-top: 125px;
    float: left;
}
.rightbar-content .button{
    width: 130px;
    height: 40px;
    background-color: #ff410f;
    text-align: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    line-height: 40px;
    border-radius: 23px;
    margin-top: 30px;
}
.rightbar-content .top{
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.rightbar-content .top p{
    float: left;
    font-weight: 300;
    overflow: hidden;
    color: #4a4a4a;
    font-size: 14px;
}
.rightbar-content .list{
    float: left;
    font-weight: 500;
    font-size: 14px;
}
.rightbar-content .list li{
    float: left;
    height: 40px;
    line-height: 40px;
    width: 925px;
}
.rightbar-content .list li:hover{
    background-color: #e8e9ed;
}

.rightbar-content .list .li-double{
    background-color: #f2f2f2;
}
.rightbar-content .list p{
    float: left;
    text-align: left;
}
.rightbar-content .list .number{
    margin-left: 22px;
}
.rightbar-content .list .m-name{
    margin-left: 56px;
    text-align: left;
    width: 135px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}
.rightbar-content .list .s-name{
    margin-left: 65px;
    width: 160px;
    overflow: hidden;
}
.rightbar-content .list .a-name{
    width: 160px;
    overflow: hidden;
    height: 40px;
    overflow: hidden;
    margin-left: 13px;
}
.rightbar-content .list .dowload{
    margin-left: 222px;
}
.rightbar-content .list li{
   position: relative;
}
.rightbar-content .list .collect{
    width: 160px;
    position: absolute;
    right: 37px;
    top: 18px;
    background-color: #fbf4ff;
    border-radius: 4px;
    padding-bottom: 10px;
    z-index: 9;
}

.rightbar-content .list .collect .cate-item{
    margin-left: 10px;
    height: 27px;
    border-radius: 4px;
    cursor: pointer;
}
.rightbar-content .list .collect .cate-item:hover{
    background-color: #ff410f;
}

.rightbar-content .pages{
    float: left;
    width: 700px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    margin-top: 100px;
}
.rightbar-content .pages a{
    margin-right: 10px;
}
.rightbar-content .pages .current{
    color: #ff410f;
}

